<h1>My tasks</h1>
<ul>
  <% @tasks.each do |task| %>
  <li><%= link_to task.title, task_path(task) %>
    <%= link_to "Delete", destroy_task_path(task), method: :delete, data: { confirm: "Are you sure?" } %></li>
  <% end %>
</ul>

<%= link_to "Create a new task", tasks_new_path %>
